/* For Desktop View */
.carousel .slide .legend {
  background:none;
}

.slider-container {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  
  .slider-item {
    position: relative;
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .slider-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .legend {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }
  
  .legend-content {
    position: absolute;
    bottom: 20px; /* Adjust this value to position content */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    transition: background-color 0.3s ease;
  }
  
  .legend-content:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .legend h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  .legend p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .legend button {
    padding: 10px 20px;
    border: none;
    background-color:tomato;
    color: #333;
    font-size: 1em;
    
  }
  
  /* .legend button:hover {
    background-color: rgb(195, 34, 6);
  } */
  
  /* For Mobile View */
  @media (max-width: 768px) {

    .slider-container {
      position: relative;
      width: 100%;
      height: 50vh;
      overflow: hidden;
    }
    .slider-item img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  
    .legend {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
      }
  
      .legend-content {
        position: absolute;
        bottom: 0px; /* Adjust this value to position content */
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(76, 18, 18, 0.5);
        padding: 20px;
        border-radius: 10px;
        backdrop-filter: blur(5px);
        transition: background-color 0.3s ease;
      }
      
      
      
      .legend h1 {
        font-size: 2.5em;
        margin-bottom: 10px;
      }
      
      .legend p {
        font-size: 1.2em;
        margin-bottom: 20px;
      }
      
      .legend button {
        padding: 10px 20px;
        border: none;
        background-color: #ffcc00;
        color: #333;
        font-size: 1em;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      
      .legend button:hover {
        background-color: #ffdb4d;
      }
  
    .slider-item:hover .legend-content {
      background-color: rgba(0, 0, 0, 0.9); /* Show content on hover */
    }
  
    .legend h1 {
      font-size: 1.5em;
      margin-bottom: 5px;
    }
  
    .legend p {
      font-size: 1em;
      margin-bottom: 10px;
    }
  
    .legend button {
      padding: 8px 16px;
      font-size: 0.9em;
    }
  }
  